In [5]:
pip install selenium

Requirement already satisfied: selenium in c:\users\riyan\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\riyan\anaconda3\lib\site-packages (from selenium) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from selenium import webdriver

#DRIVER_PATH = 'C:\Users\riyan\Downloads\chromedriver_win32\chromedriver.exe
driver = webdriver.Chrome(executable_path=r'C:\ChromeDriver\chromedriver.exe')
driver.get('https://google.com')

Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manuall

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import os
import time

options = Options()
options.headless = True
options.add_argument("--window-size=1920,1200")


driver = webdriver.Chrome(executable_path=r'C:\ChromeDriver\chromedriver.exe')
driver.get("https://www.naukri.com/")
que1=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
que2=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
que3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
que1.send_keys("Bangalore")
que2.send_keys("Data Analyst")
que3.click()
time.sleep(6)
tree=driver.find_elements_by_tag_name('article')
tree1=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
tree2=driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
#driver.quit()

In [5]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
for i in range(0,10):
    job_title.append(tree[i].find_element_by_tag_name('a').text)
    experience_required.append(tree[i].find_element_by_tag_name('li').text) 
    company_name.append(tree1[i].find_element_by_tag_name('a').text)
    job_location.append(tree2[i].text)

In [6]:
import pandas as pd
import numpy as np

jobData= pd.DataFrame({
    "Job_Title":job_title,
    "Job_Location":job_location,
    "Company_Name":company_name,
    "Experience_Required":experience_required
})

In [136]:
jobData

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
2,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
3,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
4,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
5,Data Analyst,"Lucknow, Bangalore/Bengaluru",CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs
6,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
7,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Uber,1-3 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done 
manually

In [16]:
driver = webdriver.Chrome(executable_path=r'C:\ChromeDriver\chromedriver.exe')
driver.get("https://www.naukri.com/")
que1=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
que2=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
que3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
que1.send_keys("Bangalore")
que2.send_keys("Data Scientist")
que3.click()
time.sleep(2)

In [17]:
l1=driver.find_elements_by_xpath("//div[@class='info fleft']")
l2=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
l3=driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
l4=[]

In [18]:
job_title=[]
job_location=[]
company_name=[]
job_desc=[]
for i in range(0,10):
    job_title.append(l1[i].find_element_by_tag_name('a').text)
    company_name.append(l2[i].find_element_by_tag_name('a').text)
    job_location.append(l3[i].text)
    l4.append(l1[i].find_element_by_tag_name('a').get_attribute('href'))
for link in l4:
    driver.get(link)
    l5=driver.find_element_by_xpath("//section[2]")
    job_desc.append(l5.text)
#driver.quit()

In [19]:
job_title

['Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Senior Data Scientist',
 'Senior Data Scientist- Data & Analytics',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist',
 'Process Innovation Analyst - APAC/Data Scientist - Third Party Role',
 'Data Scientist']

In [44]:
jobData1= pd.DataFrame({
    "Job_Title":job_title,
    "Job_Location":job_location,
    "Company_Name":company_name,
    "Job_Description":job_desc
})

In [21]:
jobData1

,Job_Title,Job_Location,Company_Name,Job_Description
0,Senior Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,Role:Technical Consultant\nSalary: Not Disclos...
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,Role:Research Scientist\nSalary: Not Disclosed...
2,Senior Data Scientist,Bangalore/Bengaluru,Razorpay,Job description\nResponsibilities\nYou will wo...
3,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED,Job description\nWork Experience:\n~2+ years o...
4,Senior Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.,Job description\nDuties and Responsibilities\n...
5,Senior Data Scientist- Data & Analytics,Bangalore/Bengaluru,ExecBoardinAsia,Job description\nInteract with relevant teams ...
6,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix Daksh Services,Job description\nRoles and Responsibilities\nT...
7,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Toppr,Job description\n\nRoles and Responsibilities\...
8,Process Innovation Analyst - APAC/Data Scienti...,"Bangalore/Bengaluru, Hyderabad",Bayer,"Job description\nDear Candidate,\n\nThis is to..."
9,Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.,Job description\nDuties and Responsibilities\n...

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [28]:
driver = webdriver.Chrome(executable_path=r'C:\ChromeDriver\chromedriver.exe')
driver.get("https://www.naukri.com/")
que2=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
que3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
que2.send_keys("Data Scientist")
que3.click()
time.sleep(2)

In [43]:
check_box1 = driver.find_element_by_xpath("//*[text()='3-6 Lakhs']")
check_box1.click()

In [42]:
check_box2 = driver.find_element_by_xpath("//*[text()='Delhi / NCR']")
check_box2.click()

In [59]:
tree=driver.find_elements_by_tag_name('article')
tree3=driver.find_elements_by_xpath('//article/div[1]/div/ul/li[1]/span[1]')
tree1=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
tree2=driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
for i in range(0,10):
    job_title.append(tree[i].find_element_by_tag_name('a').text)
    experience_required.append(tree3[i].text) 
    company_name.append(tree1[i].find_element_by_tag_name('a').text)
    job_location.append(tree2[i].text)

In [62]:
jobData3= pd.DataFrame({
    "Job_Title":job_title,
    "Job_Location":job_location,
    "Company_Name":company_name,
    "Experience":experience_required
})

In [63]:
jobData3

,Job_Title,Job_Location,Company_Name,Experience
0,Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",ThinkBumblebee Analytics Pvt. Ltd.,2-6 Yrs
1,Data Scientist - Insurance,"Noida, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,2-7 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
3,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i,0-2 Yrs
4,Data Scientist III-2,Gurgaon/Gurugram,Concentrix Daksh Services,3-8 Yrs
5,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
6,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
7,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
8,Urgent Hiring || Data Scientist || Delhi,Delhi / NCR,Shriram Automall India Limited,2-7 Yrs
9,Academic Counsellor - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GreatLearning,1-4 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
   in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown 
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.